In [1]:
import pandas as pd

In [2]:
df=pd.read_csv("listings.csv")

In [3]:
df.head()

,id,listing_url,scrape_id,last_scraped,name,summary,space,description,experiences_offered,neighborhood_overview,...,review_scores_value,requires_license,license,jurisdiction_names,instant_bookable,cancellation_policy,require_guest_profile_picture,require_guest_phone_verification,calculated_host_listings_count,reviews_per_month
0,241032,https://www.airbnb.com/rooms/241032,20160104002432,2016-01-04,Stylish Queen Anne Apartment,NaN,Make your self at home in this charming one-be...,Make your self at home in this charming one-be...,none,NaN,...,10.0,f,NaN,WASHINGTON,f,moderate,f,f,2,4.07
1,953595,https://www.airbnb.com/rooms/953595,20160104002432,2016-01-04,Bright & Airy Queen Anne Apartment,Chemically sensitive? We've removed the irrita...,"Beautiful, hypoallergenic apartment in an extr...",Chemically sensitive? We've removed the irrita...,none,"Queen Anne is a wonderful, truly functional vi...",...,10.0,f,NaN,WASHINGTON,f,strict,t,t,6,1.48
2,3308979,https://www.airbnb.com/rooms/3308979,20160104002432,2016-01-04,New Modern House-Amazing water view,New modern house built in 2013. Spectacular s...,"Our house is modern, light and fresh with a wa...",New modern house built in 2013. Spectacular s...,none,Upper Queen Anne is a charming neighborhood fu...,...,10.0,f,NaN,WASHINGTON,f,strict,f,f,2,1.15
3,7421966,https://www.airbnb.com/rooms/7421966,20160104002432,2016-01-04,Queen Anne Chateau,A charming apartment that sits atop Queen Anne...,NaN,A charming apartment that sits atop Queen Anne...,none,NaN,...,NaN,f,NaN,WASHINGTON,f,flexible,f,f,1,NaN
4,278830,https://www.airbnb.com/rooms/278830,20160104002432,2016-01-04,Charming craftsman 3 bdm house,Cozy family craftman house in beautiful neighb...,Cozy family craftman house in beautiful neighb...,Cozy family craftman house in beautiful neighb...,none,We are in the beautiful neighborhood of Queen ...,...,9.0,f,NaN,WASHINGTON,f,strict,f,f,1,0.89

In [4]:
df.columns

Index(['id', 'listing_url', 'scrape_id', 'last_scraped', 'name', 'summary',
       'space', 'description', 'experiences_offered', 'neighborhood_overview',
       'notes', 'transit', 'thumbnail_url', 'medium_url', 'picture_url',
       'xl_picture_url', 'host_id', 'host_url', 'host_name', 'host_since',
       'host_location', 'host_about', 'host_response_time',
       'host_response_rate', 'host_acceptance_rate', 'host_is_superhost',
       'host_thumbnail_url', 'host_picture_url', 'host_neighbourhood',
       'host_listings_count', 'host_total_listings_count',
       'host_verifications', 'host_has_profile_pic', 'host_identity_verified',
       'street', 'neighbourhood', 'neighbourhood_cleansed',
       'neighbourhood_group_cleansed', 'city', 'state', 'zipcode', 'market',
       'smart_location', 'country_code', 'country', 'latitude', 'longitude',
       'is_location_exact', 'property_type', 'room_type', 'accommodates',
       'bathrooms', 'bedrooms', 'beds', 'bed_type', 'amenities', 'square_feet',
       'price', 'weekly_price', 'monthly_price', 'security_deposit',
       'cleaning_fee', 'guests_included', 'extra_people', 'minimum_nights',
       'maximum_nights', 'calendar_updated', 'has_availability',
       'availability_30', 'availability_60', 'availability_90',
       'availability_365', 'calendar_last_scraped', 'number_of_reviews',
       'first_review', 'last_review', 'review_scores_rating',
       'review_scores_accuracy', 'review_scores_cleanliness',
       'review_scores_checkin', 'review_scores_communication',
       'review_scores_location', 'review_scores_value', 'requires_license',
       'license', 'jurisdiction_names', 'instant_bookable',
       'cancellation_policy', 'require_guest_profile_picture',
       'require_guest_phone_verification', 'calculated_host_listings_count',
       'reviews_per_month'],
      dtype='object')

In [5]:
drop_columns=['id', 'listing_url', 'scrape_id','medium_url', 'picture_url',
       'xl_picture_url', 'host_id', 'host_url', 'host_name','name']
df.drop(columns=drop_columns,index=1,inplace=True)
df.head()

,last_scraped,summary,space,description,experiences_offered,neighborhood_overview,notes,transit,thumbnail_url,host_since,...,review_scores_value,requires_license,license,jurisdiction_names,instant_bookable,cancellation_policy,require_guest_profile_picture,require_guest_phone_verification,calculated_host_listings_count,reviews_per_month
0,2016-01-04,NaN,Make your self at home in this charming one-be...,Make your self at home in this charming one-be...,none,NaN,NaN,NaN,NaN,2011-08-11,...,10.0,f,NaN,WASHINGTON,f,moderate,f,f,2,4.07
2,2016-01-04,New modern house built in 2013. Spectacular s...,"Our house is modern, light and fresh with a wa...",New modern house built in 2013. Spectacular s...,none,Upper Queen Anne is a charming neighborhood fu...,Our house is located just 5 short blocks to To...,A bus stop is just 2 blocks away. Easy bus a...,NaN,2014-06-12,...,10.0,f,NaN,WASHINGTON,f,strict,f,f,2,1.15
3,2016-01-04,A charming apartment that sits atop Queen Anne...,NaN,A charming apartment that sits atop Queen Anne...,none,NaN,NaN,NaN,NaN,2013-11-06,...,NaN,f,NaN,WASHINGTON,f,flexible,f,f,1,NaN
4,2016-01-04,Cozy family craftman house in beautiful neighb...,Cozy family craftman house in beautiful neighb...,Cozy family craftman house in beautiful neighb...,none,We are in the beautiful neighborhood of Queen ...,Belltown,The nearest public transit bus (D Line) is 2 b...,NaN,2011-11-29,...,9.0,f,NaN,WASHINGTON,f,strict,f,f,1,0.89
5,2016-01-04,We're renting out a small private unit of one ...,If you include a bit of your background in you...,We're renting out a small private unit of one ...,none,This part of Queen Anne has wonderful views an...,Let me know if you need anything or have sugge...,The #1 and #2 bus picks up 2-3 blocks away (di...,https://a2.muscache.com/ac/pictures/84791950/f...,2010-12-25,...,10.0,f,NaN,WASHINGTON,f,strict,f,f,1,2.45

We need to find the columns with missing values higher than 0.5.

In [6]:
df.isnull().mean()[df.isnull().mean().sort_values(ascending=True) > 0.5]

square_feet         0.974587
monthly_price       0.602829
security_deposit    0.511396
license             1.000000
dtype: float64

All values in 'license' column are missing so we can drop it. Also, square_feet columns has 97.45% missing values.

In [7]:
df.drop(columns=['square_feet','license','experiences_offered'],inplace=True)

In [8]:
df.shape

(3817, 80)

In [9]:
df.columns

Index(['last_scraped', 'summary', 'space', 'description',
       'experiences_offered', 'neighborhood_overview', 'notes', 'transit',
       'thumbnail_url', 'host_since', 'host_location', 'host_about',
       'host_response_time', 'host_response_rate', 'host_acceptance_rate',
       'host_is_superhost', 'host_thumbnail_url', 'host_picture_url',
       'host_neighbourhood', 'host_listings_count',
       'host_total_listings_count', 'host_verifications',
       'host_has_profile_pic', 'host_identity_verified', 'street',
       'neighbourhood', 'neighbourhood_cleansed',
       'neighbourhood_group_cleansed', 'city', 'state', 'zipcode', 'market',
       'smart_location', 'country_code', 'country', 'latitude', 'longitude',
       'is_location_exact', 'property_type', 'room_type', 'accommodates',
       'bathrooms', 'bedrooms', 'beds', 'bed_type', 'amenities', 'price',
       'weekly_price', 'monthly_price', 'security_deposit', 'cleaning_fee',
       'guests_included', 'extra_people', 'minimum_nights', 'maximum_nights',
       'calendar_updated', 'has_availability', 'availability_30',
       'availability_60', 'availability_90', 'availability_365',
       'calendar_last_scraped', 'number_of_reviews', 'first_review',
       'last_review', 'review_scores_rating', 'review_scores_accuracy',
       'review_scores_cleanliness', 'review_scores_checkin',
       'review_scores_communication', 'review_scores_location',
       'review_scores_value', 'requires_license', 'jurisdiction_names',
       'instant_bookable', 'cancellation_policy',
       'require_guest_profile_picture', 'require_guest_phone_verification',
       'calculated_host_listings_count', 'reviews_per_month'],
      dtype='object')

In [23]:
(df['experiences_offered']=='none').mean()

1.0

In [27]:
df['notes'].isnull().mean()

0.4207492795389049

In [29]:
df['transit'].isnull().mean()

0.24469478648153

In [32]:
df['city'].value_counts()

Seattle                  3809
West Seattle                2
Seattle                     2
è¥¿é›…å›¾                         1
Phinney Ridge Seattle       1
seattle                     1
Ballard, Seattle            1
Name: city, dtype: int64

In [34]:
df['market'].value_counts()

Seattle    3817
Name: market, dtype: int64

In [36]:
df['smart_location'].value_counts()

Seattle, WA                  3809
West Seattle, WA                2
Seattle , WA                    2
seattle, wa                     1
è¥¿é›…å›¾, WA                         1
Phinney Ridge Seattle, WA       1
Ballard, Seattle, WA            1
Name: smart_location, dtype: int64

In [40]:
df['summary'].isnull().mean()

0.046371495939219284

In [38]:
df['notes']

0                                                     NaN
2       Our house is located just 5 short blocks to To...
3                                                     NaN
4                                               Belltown
5       Let me know if you need anything or have sugge...
                              ...
3813                                                  NaN
3814    This is a basement apartment in a newer reside...
3815                                                  NaN
3816                                                  NaN
3817                 Also our puppy will be boarded away.
Name: notes, Length: 3817, dtype: object

In [42]:
df['space'].isnull().mean()

0.14906995022268799

In [44]:
df['description'].isnull().mean()

0.0

In [46]:
df['neighborhood_overview'].isnull().mean()

0.2703694000523972

In [48]:
df['notes'].isnull().mean()

0.4207492795389049

In [50]:
df['transit'].isnull().mean()

0.24469478648153

In [52]:
df['thumbnail_url'].isnull().mean()

0.08383547288446423

In [55]:
df['host_since'].isnull().mean()

0.0005239717055279015

In [66]:
df['host_location'].value_counts().sort_values()/df.shape[0]

Grand Rapids, Michigan, United States     0.000262
Gig Harbor, Washington, United States     0.000262
Phoenix, Arizona, United States           0.000262
Bothell, Washington, United States        0.000262
Santa Fe, New Mexico, United States       0.000262
                                            ...
Los Angeles, California, United States    0.003406
Kent, Washington, United States           0.008908
Spokane, Washington, United States        0.010741
US                                        0.064449
Seattle, Washington, United States        0.853550
Name: host_location, Length: 120, dtype: float64

In [68]:
df['host_about'].isnull().mean()

0.22504584752423368

In [70]:
df['host_response_time'].value_counts()

within an hour        1691
within a few hours     968
within a day           597
a few days or more      38
Name: host_response_time, dtype: int64

In [73]:
df['host_response_rate'].value_counts()

100%    2371
90%      165
80%      104
99%       78
88%       66
50%       52
94%       46
67%       41
75%       32
89%       32
86%       30
96%       28
98%       27
70%       25
97%       21
60%       20
83%       20
93%       18
92%       18
33%       14
40%       12
63%       11
95%        8
71%        8
78%        8
91%        5
43%        4
25%        3
87%        3
64%        3
76%        3
82%        2
57%        2
17%        2
58%        2
69%        1
68%        1
81%        1
31%        1
30%        1
53%        1
56%        1
65%        1
38%        1
55%        1
Name: host_response_rate, dtype: int64

In [75]:
df['host_acceptance_rate'].isnull().mean()

0.20251506418653392

In [76]:
df['host_acceptance_rate'].value_counts()

100%    3043
0%         1
Name: host_acceptance_rate, dtype: int64

In [78]:
df['host_is_superhost'].value_counts()/df.shape[0]

f    0.795913
t    0.203563
Name: host_is_superhost, dtype: float64

In [80]:
df['host_thumbnail_url'].isnull().mean()

0.0005239717055279015

In [82]:
df['host_picture_url'].isnull().mean()

0.0005239717055279015

In [89]:
(df['host_neighbourhood'].value_counts()>50).sum()

20

In [91]:
df['host_listings_count'].value_counts()

1.0      2179
2.0       620
3.0       261
4.0       151
5.0        98
34.0       67
6.0        47
48.0       46
169.0      39
37.0       37
36.0       36
7.0        30
9.0        28
10.0       26
8.0        23
11.0       22
21.0       21
18.0       19
17.0       16
13.0       12
12.0       12
354.0      10
19.0        4
163.0       4
15.0        3
84.0        2
502.0       2
Name: host_listings_count, dtype: int64

In [92]:
df['host_total_listings_count']

0         3.0
2         2.0
3         1.0
4         2.0
5         1.0
        ...
3813    354.0
3814      1.0
3815      1.0
3816      1.0
3817      1.0
Name: host_total_listings_count, Length: 3817, dtype: float64

In [102]:
(df['host_verifications'].value_counts() == 6).sum()

3

In [96]:
len(df['host_verifications'].value_counts())

116

In [105]:
(df['host_has_profile_pic'] == 'f').mean()

0.0018339009693476552

In [107]:
(df['host_identity_verified']=='f').mean()

0.21456641341367566

In [130]:
for i in df['street'].value_counts().index:
    print(i.split(',')[-4])

1st Avenue
Hubbell Place
12th Avenue East
10th Avenue East
East Denny Way
1st Avenue
Queen Anne Avenue North
Boylston Avenue East
Summit Avenue East
2nd Avenue
Whitman Avenue North
13th Avenue East
Cedar Street
11th Avenue Northeast
Brooklyn Avenue Northeast
Corliss Avenue North
9th Avenue
4th Avenue
19th Avenue
Dayton Avenue North
Bellevue Avenue East
Westlake Avenue North
Western Avenue
Belmont Avenue East
2nd Avenue
East Union Street
Linden Avenue North
Dexter Avenue North
Northwest 60th Street
18th Avenue East
15th Avenue
18th Avenue
Harvard Avenue East
24th Avenue
East Highland Drive
11th Avenue East
8th Avenue
Summit Avenue
Western Avenue
East Pike Street
13th Avenue
East Marion Street
Northwest 56th Street
Broadway East
16th Avenue
East Pine Street
Woodland Park Avenue North
Delridge Way Southwest
California Avenue Southwest
Boylston Avenue
East Thomas Street
Westlake Avenue
Spring Street
Bellevue Avenue
Aurora Avenue North
11th Avenue
24th Avenue East
Eastlake Avenue East
Northwest Market Street
37th Avenue South
3rd Avenue
Greenwood Avenue North
5th Avenue
Ravenna Avenue Northeast
East Howell Street
East Thomas Street
Minor Avenue
Northwest 65th Street
Warren Avenue North
3rd Avenue West
Martin Luther King Junior Way South
1st Avenue North
21st Avenue
10th Ave E
Bell Street
Northwest 61st Street
North 40th Street
East Harrison Street
Taylor Avenue North
23rd Ave S
7th Avenue West
Melrose Avenue East
Pine Street
14th Avenue East
Northeast 42nd Street
Bagley Avenue North
1st Ave
32nd Avenue
North 46th Street
12th Avenue Northeast
Boren Avenue
43rd Avenue East
5th Avenue North
44th Avenue Southwest
29th Avenue South
Palatine Avenue North
6th Avenue Northwest
Northwest 59th Street
Yesler Way
10th Avenue West
Northeast 90th Street
35th Avenue Southwest
6th Avenue
4th Avenue West
Hiawatha Place South
East John Street
3rd Ave
Elliott Avenue
Northwest 57th Street
6th Avenue North
Woodlawn Avenue North
Phinney Avenue North
30th Avenue South
Federal Avenue East
2nd Avenue West
30th Avenue
3rd Avenue Northwest
Terry Avenue
Northeast 55th Street
14th Avenue West
21st Avenue Southwest
17th Avenue Northeast
Sunnyside Avenue North
51st Avenue Southwest
22nd Avenue
Melrose Avenue
Northwest 51st Street
Alki Avenue Southwest
South Lucile Street
16th Ave NE
27th Avenue Northeast
20th Avenue Northeast
Northwest 58th Street
Greenwood Avenue North
29th Avenue
11th Avenue West
Stone Way North
Yale Avenue East
Fremont Avenue North
25th Avenue
Vine Street
12th Avenue
23rd Avenue
51st Avenue South
17th Avenue East
Northwest 64th Street
31st Avenue South
South Jackson Street
Latona Avenue Northeast
Northeast 53rd Street
Union Street
12th Avenue West
25th Avenue Northwest
Hubbell Pl
2nd Avenue North
10th Avenue Northwest
North 73rd Street
East Spring Street
Blanchard Street
14th Avenue
7th Avenue Northeast
Beach Drive Southwest
5th Avenue Northeast
South Washington Street
1st Avenue West
Morgan St. south
23rd Avenue East
Bellevue Ave E
Ward Street
Evanston Avenue North
Seneca Street
East Olive Street
23rd Avenue South
27th Avenue
24th Avenue South
26th Avenue
North 39th Street
20th Avenue
Fuhrman Avenue East
East Yesler Way
Davis Place South
Harrison Street
Western Avenue
North 45th Street
17th Avenue South
Northeast 52nd Street
22nd Avenue East
25th Avenue East
Southwest Dakota Street
North 50th Street
9th Avenue West
Northeast 43rd Street
Aloha Street
36th Avenue Southwest
34th Avenue
Belmont Avenue
North 80th Street
19th Avenue East
South Stevens Street
East Fir Street
Baker Avenue Northwest
35th Avenue Northeast
2nd Ave
Valley Street
2nd Ave and Battery St
26th Avenue Northeast
16th Avenue Northwest
North 65th Street
Northeast 115th Street
4th Avenue and Vine St
Pike Street
Densmore Ave N
East Terrace Street
Meridian Place North
62nd Avenue Southwest
Northwest 62nd Street
8th Avenue Northeast
NW 50th St
Republican Street
Franklin Avenue East
Midvale Avenue North
South Ferdinand Street
Thackeray Place Northeast
South Atlantic Street
South Nevada Street
25th Avenue Southwest
3rd Avenue Northwest
Sand Point Way Northeast
West Olympic Place
13th Avenue West
15th Ave NE
27th Avenue Northeast
West Bertona Street
Malden Avenue East
44th Avenue South
Crockett Street
Highland Drive
California Avenue Southwest
15th Avenue Northeast
32nd Avenue South
12th Avenue South
North 52nd Street
North 63rd Street
Northwest 89th Street

IndexError: list index out of range

In [119]:
df['neighbourhood'].value_counts()

Capitol Hill          351
Ballard               213
Belltown              204
Minor                 192
Queen Anne            186
                     ...
South Beacon Hill       2
South Park              2
North College Park      1
Roxhill                 1
Fairmount Park          1
Name: neighbourhood, Length: 81, dtype: int64

In [120]:
df['host_neighbourhood'].value_counts()

Capitol Hill         405
Belltown             254
Ballard              210
Minor                191
Queen Anne           188
                    ...
Downtown Toronto       1
Beverly Hills          1
Waianae Coast          1
Santa Monica           1
Central San Pedro      1
Name: host_neighbourhood, Length: 102, dtype: int64

In [122]:
df['neighbourhood_cleansed'].value_counts()

Broadway             397
Belltown             234
Wallingford          167
Fremont              158
Minor                135
                    ...
Arbor Heights          5
Pinehurst              4
South Beacon Hill      4
South Park             3
Roxhill                2
Name: neighbourhood_cleansed, Length: 87, dtype: int64

In [124]:
df['neighbourhood_group_cleansed'].value_counts()

Other neighborhoods    794
Capitol Hill           567
Downtown               530
Central Area           369
Queen Anne             294
Ballard                230
West Seattle           203
Rainier Valley         159
University District    122
Beacon Hill            118
Cascade                 89
Northgate               80
Delridge                79
Lake City               67
Magnolia                61
Seward Park             44
Interbay                11
Name: neighbourhood_group_cleansed, dtype: int64

In [126]:
df['state'].value_counts()

WA    3816
wa       1
Name: state, dtype: int64

In [128]:
df['zipcode'].value_counts()

98122        420
98103        394
98102        339
98105        225
98109        202
98101        201
98144        200
98121        196
98107        180
98115        178
98112        167
98117        164
98118        154
98119        142
98116        112
98104         95
98125         71
98199         66
98126         63
98106         58
98108         56
98133         46
98136         44
98177         19
98178          7
98146          5
98134          5
99\n98122      1
Name: zipcode, dtype: int64

In [132]:
df['market'].value_counts()

Seattle    3817
Name: market, dtype: int64

In [134]:
df['smart_location'].value_counts()

Seattle, WA                  3809
West Seattle, WA                2
Seattle , WA                    2
seattle, wa                     1
è¥¿é›…å›¾, WA                         1
Phinney Ridge Seattle, WA       1
Ballard, Seattle, WA            1
Name: smart_location, dtype: int64

In [136]:
df['country_code'].value_counts()

US    3817
Name: country_code, dtype: int64

In [138]:
df['country'].value_counts()

United States    3817
Name: country, dtype: int64

In [139]:
df['latitude']

0       47.636289
2       47.629724
3       47.638473
4       47.632918
5       47.630525
          ...
3813    47.664295
3814    47.649552
3815    47.508453
3816    47.632335
3817    47.641186
Name: latitude, Length: 3817, dtype: float64

In [140]:
df['longitude']

0      -122.371025
2      -122.369483
3      -122.369279
4      -122.372471
5      -122.366174
           ...
3813   -122.359170
3814   -122.318309
3815   -122.240607
3816   -122.275530
3817   -122.342085
Name: longitude, Length: 3817, dtype: float64

In [142]:
(df['is_location_exact']=='f').mean()

0.106366256222164

In [144]:
df['property_type'].value_counts()

House              1733
Apartment          1707
Townhouse           118
Condominium          91
Loft                 40
Bed & Breakfast      37
Other                22
Cabin                21
Camper/RV            13
Bungalow             13
Boat                  8
Tent                  5
Treehouse             3
Dorm                  2
Chalet                2
Yurt                  1
Name: property_type, dtype: int64

In [146]:
df['room_type'].value_counts()

Entire home/apt    2540
Private room       1160
Shared room         117
Name: room_type, dtype: int64

In [147]:
df['accommodates']

0        4
2       11
3        3
4        6
5        2
        ..
3813     6
3814     4
3815     2
3816     2
3817     3
Name: accommodates, Length: 3817, dtype: int64

In [149]:
df['bathrooms'].value_counts()

1.0    2881
2.0     373
1.5     248
2.5     124
3.0      64
3.5      57
0.5      31
0.0       8
4.0       8
4.5       3
5.0       2
8.0       2
Name: bathrooms, dtype: int64

In [150]:
df['bedrooms'].value_counts()

1.0    2416
2.0     640
0.0     372
3.0     283
4.0      69
5.0      24
6.0       6
7.0       1
Name: bedrooms, dtype: int64

In [153]:
df['beds'].value_counts()

1.0     2200
2.0      912
3.0      433
4.0      152
5.0       73
6.0       21
7.0       14
8.0        4
9.0        4
10.0       2
15.0       1
Name: beds, dtype: int64

In [155]:
df['bed_type'].value_counts()

Real Bed         3656
Futon              74
Pull-out Sofa      47
Airbed             27
Couch              13
Name: bed_type, dtype: int64

In [161]:
len(df['amenities'][0].split(','))

10

In [163]:
df['price'].value_counts()

$150.00    161
$100.00    159
$75.00     118
$99.00     110
$95.00     110
          ...
$141.00      1
$256.00      1
$212.00      1
$252.00      1
$338.00      1
Name: price, Length: 273, dtype: int64

In [166]:
df['weekly_price'].value_counts()

$500.00      94
$600.00      85
$1,000.00    69
$450.00      68
$700.00      62
             ..
$679.00       1
$5,499.00     1
$568.00       1
$860.00       1
$692.00       1
Name: weekly_price, Length: 395, dtype: int64

In [168]:
df['monthly_price'].isnull().mean()

0.6028294472098507

In [170]:
df['security_deposit'].isnull().mean()

0.5113963845952318

In [173]:
df['cleaning_fee'].value_counts()

$50.00     310
$25.00     245
$60.00     185
$20.00     171
$100.00    170
          ...
$58.00       1
$87.00       1
$42.00       1
$117.00      1
$275.00      1
Name: cleaning_fee, Length: 118, dtype: int64

In [174]:
df['cleaning_fee'].isnull().mean()

0.26984542834686925

In [176]:
df['guests_included'].isnull().mean()

0.0

In [177]:
df['guests_included'].value_counts()

1     2274
2      989
4      237
0       92
3       80
6       71
5       28
8       24
7       14
9        2
10       2
15       1
13       1
11       1
12       1
Name: guests_included, dtype: int64

In [180]:
df['extra_people'].value_counts()

$0.00      2047
$10.00      355
$25.00      322
$15.00      309
$20.00      308
$50.00      113
$30.00       85
$5.00        58
$40.00       39
$35.00       35
$100.00      16
$75.00       14
$7.00        12
$45.00       10
$29.00        9
$8.00         8
$60.00        8
$12.00        8
$17.00        6
$18.00        6
$19.00        5
$9.00         5
$6.00         4
$14.00        4
$55.00        3
$80.00        3
$28.00        3
$22.00        2
$200.00       2
$49.00        2
$300.00       2
$85.00        1
$71.00        1
$48.00        1
$16.00        1
$175.00       1
$33.00        1
$44.00        1
$27.00        1
$26.00        1
$21.00        1
$250.00       1
$13.00        1
$36.00        1
$68.00        1
Name: extra_people, dtype: int64

In [183]:
df['minimum_nights'].value_counts()

1       1610
2       1422
3        480
4        122
5         67
7         50
6         16
14        16
20        11
30         6
10         5
13         2
1000       1
29         1
28         1
26         1
11         1
12         1
8          1
15         1
21         1
31         1
Name: minimum_nights, dtype: int64

In [185]:
df['maximum_nights'].value_counts()

1125    2453
30       183
365      148
14       123
7        108
        ...
500        1
234        1
260        1
330        1
1825       1
Name: maximum_nights, Length: 68, dtype: int64

In [187]:
df['calendar_updated'].value_counts()

today            705
2 weeks ago      347
3 weeks ago      300
2 months ago     281
a week ago       248
yesterday        231
3 months ago     218
4 weeks ago      213
3 days ago       162
5 weeks ago      156
4 days ago       145
4 months ago     133
5 days ago       132
6 weeks ago      118
2 days ago        96
5 months ago      91
7 weeks ago       63
6 months ago      29
6 days ago        28
1 week ago        26
never             24
7 months ago      23
8 months ago      14
10 months ago      8
9 months ago       7
11 months ago      5
12 months ago      5
22 months ago      2
13 months ago      2
14 months ago      1
17 months ago      1
16 months ago      1
30 months ago      1
15 months ago      1
Name: calendar_updated, dtype: int64

In [189]:
(df['has_availability']=='f').mean()

0.0

In [195]:
df['availability_365'].value_counts()

365    678
0       95
364     91
89      70
361     53
      ...
134      1
225      1
207      1
39       1
40       1
Name: availability_365, Length: 363, dtype: int64

In [196]:
df['calendar_last_scraped']

0       2016-01-04
2       2016-01-04
3       2016-01-04
4       2016-01-04
5       2016-01-04
           ...
3813    2016-01-04
3814    2016-01-04
3815    2016-01-04
3816    2016-01-04
3817    2016-01-04
Name: calendar_last_scraped, Length: 3817, dtype: object

In [199]:
(df['last_scraped'] == df['calendar_last_scraped']).mean()

1.0

In [201]:
df['number_of_reviews'].value_counts()

0      627
1      310
2      224
4      160
3      157
      ...
244      1
270      1
278      1
294      1
353      1
Name: number_of_reviews, Length: 195, dtype: int64

In [203]:
df['number_of_reviews'].isnull().mean()

0.0

In [204]:
df['first_review'].isnull().mean()

0.1642651296829971

In [205]:
df['last_review']

0       2016-01-02
2       2015-09-03
3              NaN
4       2015-10-24
5       2015-09-28
           ...
3813    2015-09-27
3814    2015-12-24
3815           NaN
3816           NaN
3817           NaN
Name: last_review, Length: 3817, dtype: object

In [207]:
df['last_review'].isnull().mean()

0.1642651296829971

In [210]:
df['review_scores_rating'].value_counts()

100.0    781
98.0     292
96.0     277
97.0     266
95.0     260
94.0     198
93.0     184
99.0     146
90.0     138
80.0     111
92.0     105
91.0      97
87.0      55
89.0      53
88.0      47
85.0      24
84.0      23
86.0      17
83.0      13
60.0      12
82.0      10
70.0       8
73.0       7
76.0       5
72.0       4
78.0       4
77.0       4
40.0       4
75.0       3
71.0       3
81.0       3
68.0       2
74.0       2
67.0       2
79.0       2
66.0       2
64.0       1
20.0       1
53.0       1
65.0       1
55.0       1
57.0       1
Name: review_scores_rating, dtype: int64

In [211]:
df['review_scores_accuracy']

0       10.0
2       10.0
3        NaN
4        9.0
5       10.0
        ...
3813     8.0
3814    10.0
3815     NaN
3816     NaN
3817     NaN
Name: review_scores_accuracy, Length: 3817, dtype: float64

In [213]:
df['review_scores_cleanliness'].value_counts()

10.0    2160
9.0      740
8.0      184
7.0       40
6.0       30
5.0        5
4.0        4
3.0        1
Name: review_scores_cleanliness, dtype: int64

In [215]:
df['review_scores_checkin'].value_counts()

10.0    2643
9.0      423
8.0       64
7.0       12
6.0        9
4.0        5
2.0        2
5.0        1
Name: review_scores_checkin, dtype: int64

In [217]:
df['review_scores_communication'].value_counts()

10.0    2699
9.0      388
8.0       56
7.0        8
6.0        8
2.0        3
4.0        3
5.0        1
Name: review_scores_communication, dtype: int64

In [219]:
df['review_scores_location'].value_counts()

10.0    2121
9.0      884
8.0      129
7.0       19
6.0        8
4.0        1
Name: review_scores_location, dtype: int64

In [220]:
df['review_scores_communication'].value_counts()

10.0    2699
9.0      388
8.0       56
7.0        8
6.0        8
2.0        3
4.0        3
5.0        1
Name: review_scores_communication, dtype: int64

In [221]:
df['review_scores_value'].value_counts()

10.0    1774
9.0     1137
8.0      190
7.0       38
6.0       16
4.0        4
5.0        1
2.0        1
Name: review_scores_value, dtype: int64

In [223]:
(df['requires_license']=='f').mean()

1.0

In [225]:
df['jurisdiction_names'].value_counts()

WASHINGTON    3817
Name: jurisdiction_names, dtype: int64

In [227]:
(df['instant_bookable']=='f').mean()

0.8451663610165051

In [229]:
df['cancellation_policy'].value_counts()

strict      1416
moderate    1251
flexible    1150
Name: cancellation_policy, dtype: int64

In [231]:
(df['require_guest_profile_picture']=='f').mean()

0.9161645271155358

In [233]:
(df['require_guest_phone_verification']=='f').mean()

0.9020172910662824

In [237]:
df['calculated_host_listings_count'].value_counts()

1     2451
2      575
3      262
4      130
5       70
6       64
37      37
31      36
34      34
11      22
21      21
7       21
9       19
8       19
18      18
15      16
12      12
10      10
Name: calculated_host_listings_count, dtype: int64

In [241]:
df['reviews_per_month'].value_counts()

1.00    70
2.00    45
0.23    24
0.36    21
0.81    21
        ..
8.18     1
3.71     1
4.72     1
7.53     1
6.14     1
Name: reviews_per_month, Length: 654, dtype: int64